// Fix A11y color contrast
.ui.modal.dsgvo-banner,
.ui.form.dsgvo-settings {
  .ui.button.olive {
    background-color: #637510;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: #52610d;
      color: #fff;
    }
  }
  .ui.button.blue {
    background-color: #006b99;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: #00577d;
      color: #fff;
    }

    &.inverted {
      background-color: #fff;
      color: #006b99;

      &:hover,
      &:focus,
      &:active {
        background-color: #006b99;
        color: #fff;
      }
    }
  }
}

// DSGVO Modal
.ui.modal.dsgvo-banner {
  .actions {
    @media only screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .ui.button,
      .ui.button.inverted {
        padding: 20px 15px;
      }
    }
  }

  @media only screen and (max-width: 320px) {
    margin-top: 10px !important;

    .actions .ui.button {
      padding: 10px 15px !important;
      font-size: 14px;
      letter-spacing: normal;
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    margin: 0 !important;
    inset: 0;
    overflow-y: scroll;
  }
}

body.openCookieBanner {
  overflow-y: unset;
}
