.*project
.settings/
.vscode
*~
acceptance/cypress/videos/
acceptance/node_modules
.storybook-build
build
/core
node_modules
results
yarn.lock
/public

packages/volto-bm3-compat/
packages/volto-light-theme/
